//? == Vars ==

// -- Colors --
$PrimaryGreen: #29a19c;
$PrimaryYellow: #ecca75;
$PrimaryRed: #f05454;
$Black: #000000;

//* -- Light Theme --
$Color-White-LT: #ffffff;
$Color-Dark-LT: #282846;
$Color-BG-LT: #fafafa;

//* -- Dark Theme --
$Color-White-DT: #f9f9f9;
$Color-Dark-DT: #2c3440;
$Color-BG-DT: #222831;

//* -- Shadows --
$SmoothShadow: 0px 10px 25px rgba(29, 52, 54, 0.08);

// $Color-Gray-1: #000000;
// $MainText: #f1f1f1;
// $SecondaryText: #888888;
