//? == Task Row ==

@import 'scss/vars';

.wrapper {
	display: flex;
	flex-direction: row;
	column-gap: 10px;

	padding: 14px;

	border-radius: 10px;
	border: 1px solid var(--Color-Border);
	background-color: var(--Color-BG1);

	&:hover {
		cursor: pointer;

		background-color: rgba($PrimaryGreen, 0.02);

		.btn {
			display: block;
		}
	}
}

.text {
	flex: 1;
}

.btn {
	display: none;

	width: 18px;
	height: 18px;

	svg {
		width: 100%;
		height: 100%;
	}

	&--edit {
		path {
			fill: var(--Color-Text);
		}
	}

	&--remove {
		path {
			fill: $PrimaryRed;
		}
	}
}
