//? == Sidebar Row ==

@import 'scss/vars';

.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;
	text-align: left;

	column-gap: 10px;

	&--active {
		position: relative;

		&::after {
			content: '';
			display: block;
			width: 30px;
			height: 18px;
			border-radius: 10px 0 0 10px;

			position: absolute;
			right: -20px;
			top: 50%;
			transform: translateY(-50%);

			background-color: $PrimaryGreen;
		}
	}
}

.img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	flex-shrink: 0;

	width: 18px;
	height: 18px;

	svg {
		width: 100%;
		height: 100%;

		path {
			stroke: var(--Color-Text);
		}
	}
}

.title {
	width: 100%;
}
