//? == Home Page ==

@import '../../../styles/vars';

.wrapper {
	display: grid;
	grid-template-columns: 230px 1fr;

	width: 100vw;
	height: 100vh;

	position: relative;
}

.main {
	width: 100%;
	height: 100%;

	padding: 20px 70px;

	overflow-y: auto;

	background-color: var(--Color-BG2);
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 30px;
}

.content {
	display: grid;
	grid-template-columns: 1.2fr 1fr;
	column-gap: 30px;
}

.tasks {
	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 20px;
	}

	&__title {
	}

	&__settings {
		width: 28px;
		height: 24px;

		opacity: 0.4;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		svg {
			rect {
				fill: var(--Color-Gray);
			}
		}
	}

	&__main {
		display: grid;
		row-gap: 10px;
	}

	&__text {
	}
}

.noTasks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;

	padding: 20px;

	p {
		font-size: 20px;
		font-weight: 500;
	}
}

.profile {
	display: flex;
	flex-direction: row;
	align-items: center;

	column-gap: 20px;

	position: relative;

	&__title {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0;
	}

	&__btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;

		border-radius: 5px;
		background-color: var(--Color-BG1);
		box-shadow: $SmoothShadow;

		svg {
			path {
				stroke: $PrimaryGreen;
			}
		}
	}

	&__list {
		display: none;

		position: absolute;
		top: 34px;
		right: 0;

		z-index: 1000;

		&.active {
			display: block;
		}
	}

	&__bg {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;

		z-index: 100;

		&.active {
			display: block;
		}
	}

	&__container {
		display: grid;
		row-gap: 25px;
	}
}

.newTask {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;

	background-color: rgba($Black, 0.3);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
