//? == Sidebar ==

@import '../../styles/vars';

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	row-gap: 30px;

	width: 100%;

	padding: 20px;

	overflow-y: auto;

	box-shadow: $SmoothShadow;
	z-index: 100;
}

.infoblock {
	display: grid;
	row-gap: 60px;
}

.logo {
}

.categories,
.data {
	display: grid;
	row-gap: 30px;
}
