//? == Theme Switcher ==

@import 'scss/vars';

.theme {
	width: 40px;
	height: 40px;

	position: relative;

	&__btn {
		width: 100%;
		height: 100%;

		padding: 8px;

		transition: $trans-slow;

		position: absolute;
		top: 0;
		left: 0;

		svg {
			width: 100%;
			height: 100%;

			path {
				stroke: var(--Color-Secondary);
			}
		}

		&--light {
			left: -120%;

			opacity: 0;

			pointer-events: none;
		}

		&--dark {
			left: 0;

			opacity: 1;

			pointer-events: all;
		}
	}

	&--dark {
		.theme__btn--light {
			left: 0;

			opacity: 1;

			pointer-events: all;
		}

		.theme__btn--dark {
			left: 120%;

			opacity: 0;

			pointer-events: none;
		}
	}
}
