@import './styles/normalize';
@import './styles/vars';

// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Roboto', sans-serif;

h2 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.03em;
	line-height: 1.4;
	color: $PrimaryGreen;
}

h3 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.02em;
	color: $PrimaryGreen;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.02em;
	color: $Color-Dark-LT;
}
