//? == Welcome Page ==

@import '../../../styles/vars';

.wrapper {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: auto 1fr auto;

	overflow-y: auto;

	background-color: var(--Color-BG2);
}

.header {
	height: 94px;

	padding: 20px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	column-gap: 50px;

	padding: 20px;

	&__link {
		color: var(--Color-Gray);
	}
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 20px;
}

.container {
	width: 100%;
	max-width: 350px;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}
}

.title {
}

.input {
	width: 100%;

	border-radius: 8px;
	border: 1px solid var(--Color-Border);

	padding: 10px 15px;

	&::placeholder {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.02em;
		color: var(--Color-Gray);
	}
}

.text {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.01em;
	color: var(--Color-Text);
}

.registrationBtn {
	color: $PrimaryGreen;

	position: relative;

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;

		position: absolute;
		left: 0;
		bottom: 2px;

		background-color: $PrimaryGreen;
	}
}

.divider {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: 16px;
	font-weight: 600;
	line-height: 2;
	letter-spacing: 0.01em;
	color: var(--Color-Gray);

	&::before,
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;

		background-color: var(--Color-Gray);
	}

	&::before {
		margin-right: 15px;
	}
	&::after {
		margin-left: 15px;
	}
}

.socials {
	display: flex;

	button {
		width: 32px;
		height: 32px;

		&:not(:last-of-type) {
			margin-right: 20px;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}
}
