//? == New Task ==

@import 'scss/vars';

.wrapper {
	width: 700px;
}

.container {
	display: grid;
	gap: 30px;
}

.desc {
	&__title {
		margin-bottom: 10px;
	}

	&__input {
		width: 100%;
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
